.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 65px;
   
  
}
.blur {
  background-color: rgba(0, 0, 0, 0.0);
  border-radius: 10px;
}


.nav-img {
    height: 30px;
    width: 50px;
}

.navbar-left {
    border: 1px solid #faf8f8f3;
    border-radius: 15%;
    padding: 6px;
    margin: 10px;
}
.navbar-left:hover{
    transform: scale(1.05);
}

.navbar-right {
    display: flex;
    align-items: center;
}

.a-element {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.a-element:hover {
    color:rgba(5, 42, 252, 0.719);
}
.blue{
    color:rgba(5, 42, 252, 0.719);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 85vh;
   
    padding: 10px;
    width: 100%;
}

.home-left {
    width: 50%;
    text-align: left;
    padding-left: 100px;
    color: white;
}
.para{
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#hi {
    margin-bottom: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-right {
    width: 50%;
    padding-left: 50px;
}
.home-img:hover{
    transform: scale(1.01);
}
.name{
    font-weight: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.home-img {
    max-width: 100%;
    height: auto;
}

.services {
    text-align: center;
    padding: 50px 0;
    
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.services-sub-count {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.navbar-left:hover{
    border: 2px solid rgb(85, 17, 194); 

}
.services-card {
    width: 400px;
    padding: 20px;
    
    border: 2px solid;
    border-color: rgb(85, 17, 194);
    border-radius: 10px;
}
.services-card:hover{
    transform: scale(1.10);
}

.contHead {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sc-h1 {
    font-size: 22px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sc-p {
    font-size: 16px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.contact {

    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contact-info p {
    font-size: 18px;
    margin: 5px 0;
}

.email {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.email:hover {
    color:rgba(5, 42, 252, 0.719);
    transform: scale(1.01);
}


.social-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.social-icon-img {
    height: 40px;
}

.social-icon-img:hover {
    transform: scale(1.05);
}

p{
    color: white;
}
